.ButtonLetter-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    width: 1020px;
    border: none;
    border-radius: 10px;
}

.text-task-buttonletter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.task-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 2.1vh;
    border-bottom: #efecec 1px solid;
    width: 100%;
}

.component-remove-button{
    height: 90px;
}

.remove-button{
    padding:1%; 
    width: 22px;
    height: 22px;
    color: white;
    background-color: white;
    cursor: pointer;
    border: #c1bbbb 1px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-button:hover {
    background: #c5c2c2;
    color: black ;
}
.remove-button-priority1:hover {
    background: #d53030;
    color: white ;
}
.remove-button-priority2:hover {
    background: orange;
    color: white ;
}
.remove-button-priority3:hover {
    background: #1c1cf5;
    color: white ;
}
.remove-button-priority4:hover {
    background: white;
    color: white ;
}
.remove-icon{
    font-size: 3.8vh;
}


